NODE_ENV=development
PORT=3000

POSTGRES_CONTAINER_NAME=customer-management-db
POSTGRES_PORT=5432
POSTGRES_DB=customer-management-db
POSTGRES_USER=customer-management-admin
POSTGRES_PASSWORD=change-me
POSTGRES_PGDATA=/var/lib/postgresql/data/pgdata

PGADMIN_CONTAINER_NAME=customer-management-pgadmin
PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@customer-management.com
PGADMIN_DEFAULT_PASSWORD=change-me

DATABASE_URL="postgresql://customer-management-admin:change-me@localhost:5432/customer-management-db?schema=public"
